<?xml version="1.0" encoding="UTF-8"?>
<!-- Launch file ROS2 -->

<launch>
    <!-- <arg name="world_file_name" default="no_roof_small_warehouse"/> -->
    <let name="world_file_name" value="normal"/>

    <!-- Empty world -->
    <include file="$(find-pkg-share gazebo_ros)/launch/gazebo.launch.py">
      <arg name="world_name" value="$(find-pkg-share go1_gazebo)/world/$(var world_file_name).world"/>
      <arg name="use_sim_time" value="true"/>
    </include>

    <!-- Robot -->
    <let name="robot" value="$(find-pkg-share go1_description)/urdf/go1.urdf"/>

    <!-- Controllers -->
    <group>
        <push-ros-namespace namespace="go1_gazebo"/>
        <node name="controller_spawner" pkg="controller_manager" exec="spawner" output="screen" args="FR_hip_joint FR_thigh_joint FR_calf_joint FL_hip_joint FL_thigh_joint FL_calf_joint RR_hip_joint RR_thigh_joint RR_calf_joint RL_hip_joint RL_thigh_joint RL_calf_joint">
            <param from="$(find-pkg-share go1_gazebo)/config/go1_controllers.yaml"/>
        </node>
    </group>

    <!-- Robot state publisher -->
    <!-- <node pkg="robot_state_publisher" exec="robot_state_publisher"  name="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/go1_gazebo/joint_states" />
      <param name="publish_frequency" value="40" />
    </node> -->

    <node name="rviz2" pkg="rviz2" exec="rviz2" respawn="false" output="screen"
        args="-d $(find-pkg-share go1_gazebo)/rviz/go1_gazebo.rviz"/>
  
</launch>
